// 全ての要素がappの中にあるので、全てに適応される
#app {
  display: flex;
  font-family: "メイリオ", Meiryo, sans-serif;
}

// bulma からパクってきた
.has-shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

// ヘッダに適応
.header {
  padding: 20px 10px;
}

.menu-items {
  font-size: 21px;
}

// ヘッダとメインコンテンツに適応されてます
.main-content {
  flex: 1;
  overflow-y: visible;
  position: relative;
  z-index: 10;
  margin-bottom: 168px;
}

// buefyのCSSでは厳しかったので、!importantで無理にやってます
.footer {
  position: fixed !important;
  width: 100% !important;
  bottom: 0 !important;
  height:168px !important;
  z-index: 100;
}
