// Import Bulma's core
@import "~bulma/sass/utilities/_all";
// 全ての要素がappの中にあるので、全てに適応される
#app {
  display: flex;
  flex-flow: column;
  font-family: "メイリオ", Meiryo, sans-serif;
  min-height: 100vh;
}

// bulma からパクってきた
.has-shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

// ヘッダに適応
.header {
  padding: 20px 10px;
}

.menu-items {
  font-size: 21px;
}

// ヘッダとメインコンテンツに適応されてます
.main-content {
  flex: 1;
}

// ベースカラーのカスタム
// Set your colors
$primary: hsl(220, 53%, 44%);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

// 左のナビゲーションへのマウスホバー時
.menu-list a:not(.is-active):hover {
  color: $primary; // 文字色
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
